.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 4rem 5rem 6rem 5rem;
  padding: 4rem 0rem;
  z-index: 0;
}

.main::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #228b22;
  top: 0%;
  left: 50%;
  z-index: 1;
  margin-left: 12px;
}

.dot {
  height: 2rem;
  width: 2rem;
  background-color: #228b22;
  border-radius: 50%;
  margin-right: 3.5rem;
}

.dot1 {
  height: 2rem;
  width: 2rem;
  background-color: #228b22;
  border-radius: 50%;
  margin-left: 7rem;
}

.arrow {
  position: absolute;
  border: solid #228b22;
  border-width: 0 6px 6px 0;
  display: inline-block;
  left: 50%;
  padding: 12px;
  bottom: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 1300px) {
  .main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin: 4rem 5rem 6rem 5rem;
    padding: 4rem 0rem;
    z-index: 0;
  }

  .main::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: #228b22;
    top: 0%;
    left: 0%;
    z-index: 1;
  }

  .arrow {
    position: absolute;
    border: solid #228b22;
    border-width: 0 6px 6px 0;
    display: inline-block;
    left: 0;
    padding: 12px;
    bottom: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .dot {
    display: none;
  }

  .dot1 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main::after {
    display: none;
  }
  .arrow {
    display: none;
  }
}
